/* Estilos globais do app component */
main {
  min-height: calc(100vh - 200px);
  background: transparent;
  color: #e5e5e5;
  position: relative;
  z-index: 2;
  
  &.no-header {
    min-height: 100vh;
  }
}

