<div class="container3">
    <h1>📄 Meu Currículo</h1>

    <!-- Exibição do Currículo -->
    <embed [src]="curriculoPath" type="application/pdf" class="curriculo-viewer" aria-label="Visualizador do currículo em PDF">

    <!-- Botão de Download -->
    <a [href]="curriculoPath" [download]="curriculoNome" class="btn-download" aria-label="Baixar currículo em PDF">
        📥 Baixar Currículo
    </a>
</div>

<!-- Links para redes sociais -->
<div class="social-icons" role="list" aria-label="Redes sociais">
    <a href="https://github.com/dutra1904" target="_blank" rel="noopener noreferrer" class="icon" aria-label="Visitar perfil no GitHub">
        <img src="/assets/icons/github.jpg" alt="Ícone do GitHub">
    </a>
    <a href="https://www.linkedin.com/in/maria-clara-dutra/" target="_blank" rel="noopener noreferrer" class="icon" aria-label="Visitar perfil no LinkedIn">
        <img src="/assets/icons/linkedin.png" alt="Ícone do LinkedIn">
    </a>
    <a href="https://www.instagram.com/maclaradutra_/" target="_blank" rel="noopener noreferrer" class="icon" aria-label="Visitar perfil no Instagram">
        <img src="/assets/icons/intagram.png" alt="Ícone do Instagram">
    </a>
    <a href="mailto:dutramaria165@gmail.com" class="icon" aria-label="Enviar email">
        <img src="/assets/icons/gmail1.png" alt="Ícone do Gmail">
    </a>
</div>

